body {
    margin:0;
    padding-bottom: 60px;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: inline-block;
    width:800px;
    margin-left:calc(50% - 400px);
    }

.main {
    margin-top: 60px;
}

.main > .container + .container {
    margin-top: 60px;
}

.main-footer {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
}
.main-footer > div {
    display: flex;
    gap: 20px;
}
.main-footer > div > a {
font-size: 20px;
}
.main-footer > p {
    margin: 0;
}

