body {
    margin:0;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: inline-block;
    width:800px;
    margin-left:calc(50% - 400px);
    }
header.container {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 60px
}

.logo {
    width: 200px;
    height: 30px;
}

.main-nav {
    display: flex;
    gap: 30px;
}
.link {
    font-size: 20px;
    text-decoration: none;
    line-height: 1em;
    color: grey;
}
.link:hover {
    color:red;
    text-decoration: underline
}
.link.active {
    color: black;
    text-decoration: none;
}
.button {
    padding: 0.3em 1em;
    background-color: black;
    color: white;
    font-size: 16px;
    text-decoration: none;
    line-height: 2em;
    border-radius: 0.5em;
    border: 1px solid black
}
.button:hover {
    background-color: white;
    color: black;
   
    
}
.main {
    margin-top: 60px;
}

.main > .container + .container {
    margin-top: 60px;
}

.texts {
     width: 35%;
     float: left;
}
.badge {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.badge > svg {
    width: 20px;
    height: 20px;
}
.main-title {
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-title > span {
    color:#1E78F0
}
.description {
    font-size: 18px;
    color: #B7BDCD;
}
.hero-img {
    width: 55%;
    float: right;
}

